services:
    Shaygan\AffiliateBundle\Model\Affiliate:
        class: Shaygan\AffiliateBundle\Model\Affiliate
        arguments: ["@doctrine.orm.entity_manager", "@request_stack", "@event_dispatcher", "%shaygan_affiliate.config%"]

    Shaygan\AffiliateBundle\EventListener\KernelEventListener:
        class: Shaygan\AffiliateBundle\EventListener\KernelEventListener
        arguments: ["@shaygan_affiliate"]
        tags:
            - { name: kernel.event_listener, event: kernel.response, method: onKernelResponse, priority: 0 }

    Shaygan\AffiliateBundle\EventListener\RegistrationListener:
        class: Shaygan\AffiliateBundle\EventListener\RegistrationListener
        arguments: ["@shaygan_affiliate"]
        tags:
            - { name: kernel.event_subscriber }

    shaygan_affiliate: '@Shaygan\AffiliateBundle\Model\Affiliate'
    shaygan_affiliate.kernel_response_listener: '@Shaygan\AffiliateBundle\EventListener\KernelEventListener'
    shaygan_affiliate.registration: '@Shaygan\AffiliateBundle\EventListener\RegistrationListener'

    Shaygan\AffiliateBundle\Entity\ReferralRegistrationRepository:
        class: Shaygan\AffiliateBundle\Entity\ReferralRegistrationRepository
        factory:
            - '@doctrine.orm.entity_manager'
            - getRepository
        arguments:
            - Shaygan\AffiliateBundle\Entity\ReferralRegistration

    Shaygan\AffiliateBundle\Controller\UserController:
        class: Shaygan\AffiliateBundle\Controller\UserController
        arguments:
            - '@Shaygan\AffiliateBundle\Entity\ReferralRegistrationRepository'
